.company {
  position: relative;
  display: flex;
}

.company__about-inner {
  padding: 30px;
  position: absolute;
  z-index: 2;
  top: -100px;
  min-height: 390px;
  display: flex;
  flex-direction: column;

  color: #ffffff;
  background-color: $bg-grey;
}

.company__title {
  margin: 0;
  padding: 20px 0;
  position: relative;
  z-index: 5;

  font-size: 40px;
  font-weight: 400;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 2px;
    width: 180px;

    background-color: #ffffff;
  }
}

.company__desc {
  line-height: 28px;
}

.company__link {
  margin-top: auto;
  align-self: flex-start;
}
