.doc__list {
  margin: 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.doc__item {
  width: 150px;
}

.doc__link {
  padding: 15px 5px;
  display: block;

  text-decoration: none;
  text-align: center;
  color: #5d5d5d;
  transition: all 0.5s;

  &:hover {
    background-color: #cccccc;

    .doc__title {
      color: #ffffff;
    }
  }
}

.doc__title {
  display: block;
  color: #5d5d5d;
}
