.first-screen {
  position: relative;
  margin-top: -64px;
  height: 700px;

  background-color: $bg-grey;
  background-image: url("../img/index/bg-mountain@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 460px;
  background-position: 0 0;

  &::before {
    position: absolute;
    z-index: 0;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $bg-grey;
    opacity: 0.3;
  }
}

.first-screen__header {
  position: relative;
  z-index: 2;
  height: 680px;

  background-image: url("../img/index/bg-dot@1x.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.first-screen__title {
  margin: 0 auto;
  padding: 15px;
  position: relative;
  top: 126px;
  width: 600px;

  text-align: center;
  font-size: 46px;
  font-weight: 400;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
}

.first-screen__img {
  margin: 0 auto;
  top: 200px;
  display: block;
  position: relative;
  z-index: 1;
  width: 1000px;
}

