.main-nav__list {
  display: flex;
  align-items: center;

  list-style: none;
}

.main-nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  position: relative;
  padding: 20px 10px;
  font-size: 18px;
  font-weight: 600;

  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;

  &--active {
    color: $green-color;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      bottom: -2px;
      left: 0;

      background-color: $green-color;
    }
  }
}

.main-nav__link:hover {
  color: $green-color;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 0;

    background-color: $green-color;
  }
}
