.page-header {
  position: relative;
  z-index: 3;
  height: 180px;

  background-image: url("../img/category/bg-header@1x.jpg");
  background-position: 0 0;
  background-size: 100% auto;
  border-bottom: 15px solid #40c4c8;
  border-image: url("../img/category/border_header_bottom@1x.jpg") 20 round round;


  &--home {
    background-image: none;
    height: 64px;

    border-bottom: none;
    border-image: none;
  }
}

.page-header__wrap {
  display: flex;
  align-items: center;

  border-bottom: 2px solid #8e8e8e;
}

.page-header__nav {
  margin-left: auto;
}

.page-header__logo {
  position: relative;
  display: block;
  height: 60px;
  width: 130px;
  text-align: center;

  background: #000000;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 100%;
    background-color: $green-color;
  }
}

.page-header__img {
  z-index: 2;
  position: relative;
}
