.partners {
  margin-bottom: 60px;
}

.partners__title {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  padding: 20px 0;

  text-align: center;
  color: #000;
  font-size: 30px;
  font-weight: 400;

  &::after {
    position: absolute;
    z-index: 0;
    left: 50%;
    margin-left: -100px;
    bottom: 5px;
    height: 3px;
    width: 200px;
    content: "";
    background-color: #68b738;
  }
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partners__item {
  width: 260px;
}
